
/*@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');*/
html, body {
    background:url('../../resources/img/light_back.jpg') center center no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-size:cover;
}

#logo img {
    margin:0 auto !important;
    padding-top:20px;
}

#profile {
    border-radius: 50%; /*once this is a square, it will become a circle */
}

#intro p {
    /*color: white;*/
    text-align:center;
    /*font-family: 'Just Another Hand', cursive;*/
    font-size:1.5em;
    /*max-width: 50%;*/
    /*vertical-align: middle;*/
}
#counter .countdown {
    text-align:center;
    color:white;
    font-family: 'Amatic SC', cursive;
    font-size:3em;
    margin:-15px 0 0;
}

#icons {
    text-align:center;
    margin-top: 3em;
}
#icons .fa {
    color:white;
    margin:5px 15px;
    position:relative;
    bottom:0;
    transition:all 0.2s ease-in-out;
}

#icons .twitter:hover {
    color:#6cadde;
    bottom:5px;
}
#icons .facebook:hover {
    color:#3b5998;
    bottom:5px;
}
#icons .google:hover {
    color:#ea4335;
    bottom:5px;
}
#icons .instagram:hover {
    color:#517fa6;
    bottom:5px;
}

#icons .linkedin:hover{
    color: #c69500;
    bottom: 5px;

}
/*look up what exactly the hover is */
#icons .github:hover {
    color: #545b62;
    bottom: 5px;

}
#signup {
    text-align: center;
}
#signup .form-inline {
    display: block;
}

#signup .btn {
    background-color: rgba(161,186,226,0.5);
    color: white;
}
#signup .btn:hover {
    background-color:rgba(37,165,82,1);
}

#name_title {
    font-family: 'Nunito', serif !important; /*Not sure why this has to be overridden*/
    font-variant: all-petite-caps;
    color: black;
    letter-spacing: 0.2em;
    text-align:center;
    /*font-family: 'Just Another Hand', cursive;*/
    font-size:3em;
}

.centerME{
    margin: 0 auto; /*figure out why this is the only working solution*/
}
/*#about{*/
    /*font-s*/
/*}*/